@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@font-face {
  font-family: "Lato";
  src: url("../font/Lato/Lato-Thin.ttf") format("truetype");
  src: url("../font/icons/bootstrap-icons.woff") format("woff");
}
.font-Lato {
  opacity: 0.6;
  font-family: Lato;
  /* font-size: 14px; */
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
}

.text-dark-green {
  font-size: 21px;
  color: #17696a;
}
.text-collection {
  color: #1E212C;
  font-family: Lato;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  margin-top: 10rem;
  margin-right: 17rem;
}
.slider-title {
  color: #1E212C;
  font-size: 62px;
  font-family: Lato;
  font-weight: 900;
  line-height: 93.6px;
}
.text-opacity {
  opacity: 0.6;
}
.buttons-slider{
  margin-right: 8rem;
}

input[type="search"]:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid #d7dadd;
}

input[type="search"] {
  width: 340px;
}
