:root {
  --font-family: "Lato", sans-serif;

  //colors
  --white: #ffffff;
  --white: #ffffff;
  --danger: #ff4242;
  --gray-200: #f4f5f6;
  --gray-300: #e5e8ed;
  --gray-400: #d7dadd;
  --gray-500: #b3b7bc;
  --gray-600: #9a9ca5;
  --gray-700: #787a80;
  --gray-800: #424551;
  --gray-900: #17696a;
  --primary: #17696a;
  --success: #03cea4;
  --warning: #f89828;
  --black: #000000;
  --indigo: #3c3b6e;
}
